[Unit]
Description=Script Daemon For Test User Services

[Service]
Type=simple

#User=

#Group=

ExecStart=/home/laradvil/.spoofdpi/bin/spoofdpi

Restart=on-failure

StandardOutput=file:%h/log_file

[Install]
WantedBy=default.target
